/Client/StudyBuddy/.gradle
/Client/StudyBuddy/local.properties
/Client/StudyBuddy/.idea/workspace.xml
/Client/StudyBuddy/.idea/libraries
/Client/StudyBuddy/.DS_Store
/Client/StudyBuddy/build
/Client/StudyBuddy/captures
